/* SLIDER */

.banner{
position:relative;
width:100%;
height:500px;
overflow:hidden;
}

.slider{
width:100%;
height:100%;
}

.slide{
width:100%;
height:100%;
object-fit:cover;
display:none;
}

.slide.active{
display:block;
}

.prev,.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:rgba(0,0,0,0.5);
color:white;
border:none;
font-size:30px;
padding:10px 15px;
cursor:pointer;
}

.prev{
left:10px;
}

.next{
right:10px;
}

/* DANH MỤC */

.categories{
    margin-top:40px;
}

.category-list{
    display:flex;
    justify-content:space-between;
}

.category{
    width:200px;
    text-align:center;
    padding:20px;
    border:1px solid #ddd;
    cursor:pointer;
}

.category:hover{
    border:1px solid var(--main-color);
}

.category img{
    width:80px;
}
.products{
margin-top:40px;
}

.product-list{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
}

.product-card{
border:1px solid #ddd;
padding:20px;
text-align:center;
transition:0.3s;
background:white;
}

.product-card img{
width:120px;
height:120px;
object-fit:contain;
}

.product-card:hover{
box-shadow:0 5px 15px rgba(0,0,0,0.2);
transform:translateY(-5px);
}

.price{
color:red;
font-weight:bold;
margin:10px 0;
}