body{
    font-family: Arial;
    padding: 20px;
}

.product-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.product-card{
    width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product-card img{
    width: 100%;
}
